<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
  <title>KerwinWeb</title>
  <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon">
  {{!-- incude css files here --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{!-- navigation --}}
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/image/logo-via-logohub.png" style="width: 200px;" alt=""></a>
    </div>
  </nav>
  <div class="banner"></div>
  {{!-- partial template will replace th part --}}
  {{{body}}}

  <footer class="footer mt-5 py-3">
    <div class="container pt-5">
      <div class="row">
        <div class="col text-left">
          <h6>Content</h6>
          <ul>
            <li>New resources</li>
            <li>The most popular content</li>
            <li>Blog</li>
          </ul>
        </div>
        <div class="col text-left">
          <h6>Information</h6>
          <ul>
            <li><span>Plans & pricing</span></li>
            <li>Jobs</li>
            <li>Become a contributor</li>
          </ul>
        </div>
        <div class="col text-left">
          <h6>Help</h6>
          <ul>
            <li>Support</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="col text-left socialicon">
          <h6>Social media</h6>
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-github-square"></i></a>
          <a href="#"><i class="fab fa-pinterest-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="mt-4 copyright">
        <img src="/image/logo-via-logohub.png" style="width: 180px;" alt=""></a>
        <span>Copyright &copy; 2019 Kerwin Jhong | All Rights Reserved.</span>
      </div>
    </div>
  </footer>

  {{!-- incude javascripts files here --}}
  <script src="/javascripts/jquery-3.4.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/fontawesome.min.js"></script>
</body>

</html>