.banner {
    position: relative;
    z-index: -1;
    margin: -5px;
    height: 100vh;
    background: #dddddd center center url('https://image.freepik.com/free-photo/group-friends-eating-restaurant_23-2148006691.jpg');
    background-size: cover;
    filter: blur(3px);
}

#search-bar {
    margin: 0 auto;
    max-width: 680px;
    background-color: #fce2cf;
    border-radius: 8px;
    padding: 20px 30px;
    border: 0;
    margin-top: -320px;
    margin-bottom: 240px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.restaurant {
    margin: 0 auto;
    background-color: #fce2cf;
    border-radius: 8px;
    padding: 20px 30px;
    border: 0;
    margin-top: -560px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}